:root {
  --timeline-node-color: gray;
  --timeline-line-color: #bbb;
  --timeline-distance: 120px;
}

.archive__posts {
  text-align: left;
  margin-bottom: 20px;
  position: relative;
  line-height: 2;

  a:hover {
    .archive__item-title {
      transform: translateY(-2px);
      color: var(--link-color);
      text-decoration: underline;
      &::after {
        background-color: var(--link-color);
      }
    }
  }
}

.archive__item-date {
  display: inline-block;
  width: 100px;

  /** line */
  &::before {
    content: ' ';
    width: 4px;
    height: 2em;
    left: var(--timeline-distance);
    position: absolute;
    background-color: var(--timeline-line-color);
  }
}

.archive__item-title {
  display: inline-block;
  margin-left: 3em;
  position: relative;
  transition: 0.3s ease;

  /* circle */
  &::after {
    content: ' ';
    width: 10px;
    height: 10px;
    top: 0.6em;
    left: calc(-2em + 1px);
    border-radius: 10px;
    position: absolute;
    background-color: var(--timeline-node-color);
  }
}

.archive__section-header {
  position: relative;

  /* line */
  &::before {
    content: ' ';
    width: 4px;
    height: 3em;
    top: 0em;
    left: var(--timeline-distance);
    position: absolute;
    background-color: var(--timeline-line-color);
  }

  h3 {
    margin: 0;
    padding: 10px 0;
  }
}
