.header {
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 20px;

  :global .dark-theme :local & {
    background: #252627;
  }

  a {
    text-decoration: none;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;

  & img {
    height: 26px;
    border-radius: 100%;
    transform: translateX(-100px);
    transition: .3s ease;
  }

  &:hover {
    & img {
      transform: translateX(0);
      margin-right: 8px;
    }
  }
}

.mark {
  margin-right: 5px;
}

.text,
.mark {
  font-size: 18px;
}

.right {
  display: flex;
  position: relative;
}

@keyframes cursor {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
