@import "./fonts.css";
@import "./variables.css";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans SC', -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",  Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.54;
  background-color: var(--light-background);
  color: var(--light-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;

  @media (--phone) {
    font-size: 1rem;
  }

  &.dark-theme {
    background-color: var(--dark-background);
    color: var(--dark-color);
  }
}

h1, h2, h3, h4, h5, h6 {
  display: flex;
  align-items: center;
  line-height: 1.3;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

@media (--phone) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.15rem;
  }

  h4 {
    font-size: 1.125rem;
  }
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }
}

figure {
  display: table;
  max-width: 100%;
  margin: 25px 0;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }

  figcaption {
    font-size: 14px;
    margin-top: 5px;
    opacity: .8;

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }
}

code {
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-feature-settings: normal;
  font-weight: normal;
  background: var(--light-background-secondary);
  padding: 1px 6px;
  margin: 0 2px;
  border-radius: 5px;
  font-size: .9rem;

  .dark-theme & {
    background: var(--dark-background-secondary);
  }
}

pre {
  background: #1a1a1d;
  padding: 20px;
  border-radius: 8px;
  font-size: .9rem;
  overflow: auto;

  @media (--phone) {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    background: none !important;
    color: #ccc;
    margin: 0;
    padding: 0;
    font-size: .9rem;
  }
}

blockquote {
  border-left: 2px solid;
  margin: 40px;
  padding: 10px 20px;

  @media (--phone) {
    margin: 10px;
    padding: 10px;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0;
  border-radius: 5px;
}

table, th, td {
  border: 1px solid var(--light-color);
  padding: 10px;

  .dark-theme & {
    border-color: var(--dark-color);
  }
}

th {
  background: var(--light-background-secondary);

  .dark-theme & {
    background: var(--dark-background-secondary);
  }
}

ul, ol {
  margin-left: 40px;
  padding: 0;

  @media (--phone) {
    margin-left: 20px;
  }
}

ol ol {
  list-style-type: lower-alpha;
}

button, input, textarea {
  font-family: 'Noto Sans SC', -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",  Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 100%;
  max-width: 900px;;

  @media (--phone) {
    margin-top: 0;
  }

  @media (--tablet) {
    max-width: 660px;
  }
}

hr {
  width: 100%;
  border: none;
  background: var(--light-border-color);
  height: 1px;

  .dark-theme & {
    background: var(--dark-border-color);
  }
}

.infoBanner {
  text-align: left;
  margin: 20px 0 40px;
  padding: 10px 20px;
  border-radius: 10px;
  width: calc(100% - 40px);
  background: var(--light-background-secondary);

  .dark-theme & {
    background: var(--dark-background-secondary);
  }

  span {
    font-weight: bold;
  }
}

.hidden {
  display: none;
}

.embedVideo-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

footer {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 50px;

  @media (--phone) {
    display: flex;
    flex-direction: column;
  }

  .footerCopyrights {
    &:not(:first-of-type) {
      margin-left: 20px;
      padding-left: 20px;
      border-left: 1px solid;

      @media (--phone) {
        margin: 0;
        padding: 0;
        border: none;
      }
    }
  }
}
