@import './variables.css';

.post {
  a {
    color: var(--link-color);
  }

  img:not(.inline-img) {
    margin-left: auto;
    margin-right: auto;
  }

  .inline-img {
    display: inline-block;
  }

  iframe {
    width: 100%;
  }
}

a.post__title {
  color: inherit;
}

.post-list {
  width: 100%;
}

.post__image-row {
  display: flex;
}