.content .gatsby-highlight {
  position: relative;
}

.content .gatsby-highlight:before {
  content: attr(data-language);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
  border: 2px solid #f4f4f4;
  color: #494949;
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
  border-radius: 0 0.5rem 0 0;
  font-size: 0.875rem;
}

code[class*="language-"], pre[class*="language-"] {
  font-size: 14px;
  font-family: "Consolas", Menlo, Monaco, "Lucida Console", "Courier New", Courier, monospace;;
}

code {
  .token.inserted {
    color: #c3e88d;
  }
  .token.deleted {
    color: #ff5370;
  }
}
