@import "./variables.css";

:root {
  --toc-width: 200px;
  --toc-normal-color: var(--link-color);
  --toc-hover-color: #c45612;
}

.tocbot {
  position: fixed;
  right: 1em;
  top: 100px;
  text-align: left;
  z-index: 100;
}
.tocbot ol:not(.toc-list) {
  list-style: none;
  padding-left: 1em;
}
body {
  .is-active-link {
    font-weight: inherit;
  }
  .is-active-link::before {
    background-color: var(--toc-normal-color);
  }
  a.toc-link {
    text-decoration: none;

    &.is-active-link {
      text-decoration: underline;
    }
  }
}
@media(max-width: 1400px) {
  .tocbot {
    position: static;
    width: 100%;
    margin-left: 2.5em;
    margin-top: 1em;
  }
}