@import './variables.css';

.gt-container {
  width: 100%;
}

body {
  --marka-link-color: var(--link-color);
}

.post {
  .marka-link::after {
    vertical-align: baseline;
  }

  /* ---------------- littlefoot ---------------------- */
  .footnote-print-only {
    display: inline !important;
    .footnote-ref {
      display: inline !important;
      visibility: hidden;
    }
  }

  .footnote-print-only:not(sup) {
    display: inherit !important;
  }

  li.footnote-print-only {
    display: list-item !important;
  }
  /* ----------------end littlefoot ------------------- */
}

.dark-theme .mermaid {
  background: whitesmoke;
}

.mermaid {
  display: flex;
  justify-content: center;
}